@import "./_variables.scss";
@import "bootstrap";
@import "./_overrides.scss";
@import "./utilities.scss";
@import "./loaders.scss";

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
}

main {
  flex-grow: 1;
  overflow: hidden;
}

.spacer-10{
  height: 10vh;
}
.spacer-20{
  height: 20vh;
}
.spacer-30{
  height: 30vh;
}

.min-width{
  width: min-content;
}

.tagline{
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 4rem;
}

.before-enter {
  opacity: 0;
  transform: translateY(30%);
  transition: all .8s ease;
}

.enter {
  opacity: 1;
  transition-delay: .08s;
  transform: translateY(0);
}

.upon-exit {
  opacity: 0;
  transform: translateY(100em);
}

h1 {
  font-size: 5em;
  font-family: "Unna", serif;
}

a {
  text-decoration: none;
}

input,
textarea,
select {
  &:not(:placeholder-shown) {
    &:valid {
      border: 1px solid $success;
    }
    &:invalid {
      border: 1px solid $danger;
    }
  }
}

form:invalid button[type="submit"] {
  filter: grayscale(1);
  pointer-events: none;
}
